@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    7152 Sandalwood Dr.<br />
    Avon, IN 46123<br />
    <abbr title="Phone">Phone Number:</abbr>
    317-771-1684
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:CodyAMorton2020@gmail.com">CodyaMorton2020@gmail.com</a><br />
</address>