@{
    ViewBag.Title = "Home Page";
}
<link href="~/Style/StyleSheet1.css" rel="stylesheet" />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class=" display-4 text-black-50">Friendly Links</h1>
        <p class="lead">Friendly links is the only way for you to play at the top private courses without paying the top private prices.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First Tee Association</h2>
        <p>
            Friendly Links is a proud partner with the First Tee Association. The First Tee has established itself as a national leader in junior golf whose mission is to teach life lessons through the game of golf. Please click on the link below to visit Indiana's chapter of the First Tee.'
        </p>
        <p><a class="btn btn-default" href="https://www.firstteeindiana.org/">First Tee of Indiana &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>U.S.G.A</h2>
        <p>The United States Golf Association recognizes Friendly Links as a top sponsor. The USGA, and Friendly Links, are currently working on a partnership to utilize FL's courses as a future tournament host.</p>
        <p><a class="btn btn-default" href="https://www.usga.org/">USGA  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>We are currently working on our 2022 season schedule. </p>
        <p><a class="btn btn-default" href="https://www.timeanddate.com/calendar/?year=2022&country=1">2022 Season Schedule &raquo;</a></p>
    </div>
</div>